<section class="questions">

  <% _.each( user.responses().models, function (response) { %>

      <% var quest = response.question %>
      <% var ans = quest.answers().get(response.get("answer_id")) %>

    <article class="question">
     <h3><%= quest.escape("text") %></h3>
     <p class="answer"><%= ans.escape("text") %></p>
     <p class="explain"><%= response.escape("explanation") %></p>
    </article>

  <% }) %>

</section>