<% var details = OKC.formattingData.get("details") %>

<header class="browse-bar">
  <h3>Browse</h3>
  <form class="browse">
    <h4>Gender</h4>
    <label>man
      <input type="checkbox" name="browse[gender][]" value="gen_man" checked="true">
    </label>
    <label>woman
      <input type="checkbox" name="browse[gender][]" value="gen_woman" checked="true">
    </label>
    <label>other
      <input type="checkbox" name="browse[gender][]" value="gen_other" checked="true">
    </label>
    <label>unanswered
      <input type="checkbox" name="browse[gender][]" value="gen_unans" checked="true">
    </label>

    <h4>Orientation</h4>
      </label>gay
        <input type="checkbox" name="browse[orientation][]" value="ori_gay" checked="true">
      </label>
      <label>straight
        <input type="checkbox" name="browse[orientation][]"
          value="ori_straight" checked="true">
      </label>
      <label>bisexual
        <input type="checkbox" name="browse[orientation][]" value="ori_bi" checked="true">
      </label>
      <label>asexual
        <input type="checkbox" name="browse[orientation][]" value="ori_ace" checked="true">
      </label>
      <label>unanswered
        <input type="checkbox" name="browse[orientation][]" value="ori_unans" checked="true">
      </label>

    <label>Age</label>
    <input
      type="text"
      name="browse[min_age]"
      value="0">-<input type="submit"
      name="browse[max_age]"
      value="100">

    <input type="submit" value="SUBMIT">
  </form>
</header>

<header class="search-bar">
  <h3>Search</h3>
  <form class="search">
    <label>Username: </label>
    <input type="text" name="search[username]">

    <label>Keyword: </label>
    <input type="text" name="search[keyword]">

    <input type="submit" value="SUBMIT">
  </form>

</header>

<section class="content">
  <% _.each(users.models, function (user) { %>
    <section><a href="/#/users/<%= user.id %>"><%= user.escape("username") %></a></section>
  <% }); %>
</section>