<h2 class="page-title">Matches</h2>

<% var details = OKC.formattingData.get("details") %>

<header class="browse-bar">
  <h3>BROWSE</h3>
  <form class="browse group">
    <h4>Gender: </h4>
    <label>man
      <input type="checkbox" name="browse[gender][]" value="gen_man" checked="true">
    </label>
    <label>woman
      <input type="checkbox" name="browse[gender][]" value="gen_woman" checked="true">
    </label>
    <label>other
      <input type="checkbox" name="browse[gender][]" value="gen_other" checked="true">
    </label>
    <label>unanswered
      <input type="checkbox" name="browse[gender][]" value="gen_unans" checked="true">
    </label>
    <br>
    <h4>Orientation:</h4>
      <label>gay
        <input type="checkbox" name="browse[orientation][]" value="ori_gay" checked="true">
      </label>
      <label>straight
        <input type="checkbox" name="browse[orientation][]"
          value="ori_straight" checked="true">
      </label>
      <label>bisexual
        <input type="checkbox" name="browse[orientation][]" value="ori_bi" checked="true">
      </label>
      <label>asexual
        <input type="checkbox" name="browse[orientation][]" value="ori_ace" checked="true">
      </label>
      <label>unanswered
        <input type="checkbox" name="browse[orientation][]" value="ori_unans" checked="true">
      </label>
    <br>
    <h4>Age:</h4>
    <input
      type="text"
      name="browse[min_age]"
      value="0">-<input type="text"
      name="browse[max_age]"
      value="100">

    <input class="go" type="submit" value="GO">
  </form>

  <h5>or</h5>
</header>

<header class="search-bar">
  <h3>SEARCH</h3>
  <form class="search group">
    <label>Username: </label>
    <input type="text" name="search[username]">

    <label>or Keyword: </label>
    <input type="text" name="search[keyword]">

    <input class="go" type="submit" value="GO">
  </form>

</header>

<section class="content">
  <% _.each(users.models, function (user) { %>
    <a href="#/users/<%= user.id %>" class="profile-header group search-result">
      <img
        src="<%= user.get("avatar") %>"
        id="profile-pic">

      <h3>
        <%= user.escape("username") + " : " + user.escape("age") + " : " + user.escape("location") %>
      <h3>
    </a>
  <% }); %>
</section>