<%= render "new_response", response: @response, question: @question %>


<!--<p>backbone:</p>
<div id="answers"><%#= @question.answers %></div>
<div id="question"><%#= @question %></div>

<div id="root"></div>
<script>
  $(function () {
    var view = new OKC.Views.NewResponse({
      answers: $("#answers"),
      question: $("#question")
    })
    $("#root").html(view.render().$el)
  })
</script> -->