<h2 class="page-title">Questions</h2>

<article class="question group">
  <h3><%= question.escape("text") %></h3>

  <form>
    <% _.each( question.answers().models, function (answer) { %>
      <input
        type="radio"
        name="response[answer_id]"
        value="<%= answer.id %>">

      <label><%= answer.escape("text") %></label>
      <br>
    <% }) %>

    <h4>explain:</h4>
    <textarea class="explain" name="response[explanation]"></textarea>

    <input class="save-response" type="submit" value="SAVE">
  </form>

</article>

