header.browse-bar, header.search-bar {
  background: #eee;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
  border: 1px solid #bbb;
}

.browse-bar h3, .search-bar h3 {
  font-weight: bold;
  font-size: 16px;

}

form.browse > label, form.search > label {
  display: inline-block;
  padding: 5px 10px 0 0;
}

form.browse > h4 {
  display: inline-block;
  width: 100px;
}

form.browse input[type="text"] {
  width: 30px;
  padding-left: 10px;
}

form.browse .go, form.search .go {
  border: 0;
  color: #eee;
  float: right;
  background: #2768E9;
  padding: 5px 10px;
}

header.browse-bar h5 {
  font-size: 16px;
  color: #fff;
  padding: 4px 10px;
  position: absolute;
  bottom: -20px;
  z-index: 1000;
  background: #bbb;
}

.search-result {
  display: block;
  margin-bottom: 10px;
}
