
  a, h1, h2, h3, h4, h5, p, input, button {
    text-decoration: none;
    color: inherit;
    border: 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    background: transparent;
  }

  textarea {
    border: none;
    width: 400px;
  }

  h1 {
    color: #6666CC;
    font-weight: bold;
    font-size: 20px;
    float: right;
    padding-right: 50px;
  }

  nav {
  }

  * {
    font-family: sans-serif;
/*    border: 1px solid red;*/
  }

  img {
    width: 100px;
    height:100px;
  }

  body {
    padding: 25px;
    width: 1000px;
    margin: auto;
    min-height: 700px;
    background: #eee;
  }

  #top-nav {
    display:block;
    width: 980px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
  }
  #top-nav > form, #top-nav > h3, #top-nav > a {
    float: left;
    margin: 10px;
  }
  #side-nav {
    float: left;
    height: 600px;
    width: 100px;
    padding: 10px;
    margin-right: 10px;
  }

  main {
    background: #fff;
    display:block;
    float: right;
    width: 830px;
    padding: 20px;
  }

  section {
    border: 1px solid #999;
    padding: 20px;
  }
