

  #profile-pic {
    width: 100px;
    height: 100px;
  }


  h1.logo {
    display: block;
    float: left;
    font-size: 40px;
    color: #05f;
    padding: 10px 0 0 40px;
    text-decoration: underline;
  }

  nav.top {
    display:block;
    width: 800px;
    height: 60px;

    margin-bottom: 10px;
    color: #666;
  }

  nav.top > ul {
    float: right;
  }

  nav.top > ul > li {
    display: block;
    float: left;
    padding: 40px 0 0 20px;
  }

  nav.side {
    display: block;
    float: left;
    height: 600px;
    width: 100px;
    padding: 30px 0;
    color: #666;
  }

  nav.side > a {
    float: right;
    display: block;
    padding: 0 10px 15px 0;
  }

  main {
    display:block;
    float: right;
    width: 655px;
    padding: 20px;
    background: #fff;
    min-height: 500px;
  }

  section {
    border: 1px solid purple;
    padding: 20px;
  }
