section.content {
/*  background: #def;*/
}

.content > nav {
  display: block;
  border-bottom: 1px solid blue;
  padding: 0 10px 0 400px;
}
.content > nav > a {
  display: block;
  float: left;
  padding: 0 0 5px 0;
  margin: 0 15px 0 0;
  border-bottom: 2px solid blue;
}

div.tab-content {
  padding: 15px 0 0 0;
}

section.info > h3 {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

section.info > p {
  display: inline-block;
  font-size: 13px;
  margin-bottom: 15px;
}

section.info > button.edit {

}

table.details {
  float: right;
  background: #ccf;
}