a, h1, h2, h3, h4, h5, p, input, button, section, header, ul, li, nav {
  text-decoration: none;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  background: transparent;
  vertical-align: baseline;
  border: 1px solid red;
}

ul {
  list-style: none;
}


body {
  width: 800px;
  margin: auto;
  padding: 20px 0;
  min-height: 700px;
  background: #333;
  font-family: sans-serif;
  color: #333;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}