a, h1, h2, h3, h4, h5, p, input, button, section, header, ul, li, nav {
  text-decoration: none;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  background: transparent;
  vertical-align: baseline;
/*  border: 1px solid red;*/
}

ul {
  list-style: none;
}


body {
  width: 800px;
  margin: auto;
  padding: 50px 0;
  min-height: 700px;
  background: #333;
  font-family: sans-serif;
  color: #333;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

select {
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0 0 0 5px;
  margin: 0;
  border: 0;
  background: #fff;
  font: inherit;
  font-size: inherit;
  color: inherit;
}

.page-title {
  font-size: 25px;
  font-weight: 300;
  display: block;
  width: 635px;
  padding: 0 5px 5px 5px;
  border-bottom: 1px solid blue;
  margin-bottom: 15px;
}