main#sign-up main#sign-up {
  background: #fff;
  width: 650px;
  margin: auto;
  padding: 20px;
}

h5.tag-line {
}

#sign-in-form {
  font-size: 18px;
}
#sign-in-form button {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

#demo-sign-in input {
  display: none;
}


a#sign-up {
  display:block;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

form.sign-up {
  margin: 50px;
}

form.sign-up input, form.sign-in input {
  width: 400px;
  margin: 5px auto;
  display: block;
  border: 1px solid blue;
  text-align: center;
  padding: 5px;
}

#birthday-wrapper {
  border: 1px solid blue;
  width: 400px;
  display: block;
  margin: 5px auto;
}

form.sign-in input[placeholder] {
  color: blue;
  font-weight: 400;
}

form.sign-in input::-webkit-input-placeholder {
  color: blue;
  font-weight: 400;
}

#birthday-label {
  float: left;
  display: block;
  width: 90px;
  padding: 5px 0 5px 90px;
  border: 1px solid red;
  margin: 0;
}

#birthday-input {
  float: right;
  display: block;
  width: 200px;
  margin: 0;
  height: 15px;
  border: none;
  border: 1px solid red;
}


