<header class="profile-header group">
  <img
    src="<%= user.get("avatar") %>"
    id="profile-pic">

  <h3>
    <%= user.escape("username") + " : " + user.escape("age") + " : " + user.escape("location") %>

    <% if(user.id != OKC.current_user.id) { %>
      <a href="#/users/<%= user.id %>/thread">SEND MESSAGE</a>
    <% } %>
  <h3>

</header>

<section class="content">
  <nav class="tabs group">
    <a data-id=".info" href="">INFO</a>
    <a data-id=".photos" href="">PHOTOS</a>
    <a data-id=".questions" href="">QUESTIONS</a>
  </nav>

  <div class="tab-content">
  </div>

</section>

