<header>
  <img src="http://cityyearnh.files.wordpress.com/2011/02/boat.jpg" id="profile-pic">
  <h3 id="basic-info">
    <%= user.escape("username") + " " + user.escape("age") + " " + user.escape("zip_code") %>
  <h3>
</header>

<content>
  <nav class="tabs">
    <a data-id=".info" href="">INFO</a>
    <a data-id=".photos" href="">PHOTOS</a>
    <a data-id=".questions" href="">QUESTIONS</a>
  </nav>

  <div class="tab-content">
  </div>

</content>

