<section class="questions">

  <% _.each( user.responses().models, function (response) { %>

      <% var quest = response.question %>
      <% var ans = quest.answers().get(response.get("answer_id")) %>


     <h3><%= quest.escape("text") %></h3>
     <p><%= ans.escape("text") %></p>
     <p><%= response.escape("explanation") %></p>

  <% }) %>

</section>